.wrapper {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 10px;
}

header {
	position: relative;
	display: flex;
	height: 100%;
	transform-style: preserve-3d;
	z-index: -1;
}

.background {
	padding: 0;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	transform: translateZ(-10px) scale(2.1);
}

body {
	margin: 0px;
	overflow-y: hidden;
	height: 100%;
}

.navbar {
	z-index: 1;
	overflow-y: hidden;
	height: 10%;
}

.navbar {
	padding: 0px;
	margin: 0px;
	background-color: #303404;
	height: 10%;
}

.navbar-l {
	list-style: none;
}

.navbar-i {
	margin: 10%;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 100%;
}

.title-wrapper {
	position: relative;
	margin-top: 100px;
	margin-left: 120px;
	text-align: left;
}

.title {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 100px;
	margin-bottom: 0px;
}

.tit-des {
	position: relative;
	color: white;
	font-family: 'Inter', sans-serif;
	margin-top: 0px;
	font-size: 20px;
}

section{
	padding: 2rem;
	background-color: white;
	color: black;
	height: 100%;
}

.title-main{
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
}

.dushnila{
	float:left;
	margin: auto;
	background-color: green;
	height: 200px;
	width: 100px;
}

.desd{
	display: flex;
    justify-content: center;
}


#sidebar.active {
  right: 0;
  overflow: auto;
}

#sidebar {
  position: fixed;
  width: 300px;
  height: 90%;
  background: #fffcf4;
  right: -310px;
  transition: .4s;
  overflow: hidden;
  z-index: 4;
  top: 10%;
}

.table-container {
  width: 100%;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table-container td {
  padding: 10px;
  text-align: center;
}

.table-container .icon {
  font-size: 120%;
  margin-left: 40px;
}

.table-container .text {
  font-family: 'Inter', sans-serif;
  text-align: left;
  font-size: 120%;
}
.table-container .text a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}

.navbar {
  z-index: 1;
  overflow: hidden;
}

.navbar {
  padding: 0px;
  margin: 0px;
  background-color: #303404;
  height: 10%;
}

.navbar-l {
  list-style: none;
}

.navbar-i {
  margin: 10px;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
}

header {
  position: relative;
  display: flex;
  height: 100%;
}

#but {
  float: right;
  height: 30.4px;
  width: 30.4px;
  justify-content: center;
}

#but button{
  height: 30.4px; 
  width: 30.4px; 
  border: solid white; 
  border-radius: 5px; 
  background-color: #303404;
}

.navbar-i a{
  text-decoration: none;
  color: white;
}

#sidebar .table-container table tr{
  transition: 1s;
  border-radius: 30px;
}

#sidebar .table-container table tr:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8%;
  width: 70%;
  background-color: yellow;
  border-radius: 20px;
  transition: .5s;
}

.span {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  margin-right: 15px;
}

.span i {
  margin: 10px;
}

#start a {
  padding: 15px;
  order: 1;
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 150%;
}

#start:hover{
  background-color: #FED65C;
}