#sidebar.active {
  right: 0;
  overflow: auto;
}

#sidebar {
  position: fixed;
  width: 300px;
  height: 90%;
  background: #fffcf4;
  right: -310px;
  transition: .4s;
  overflow: hidden;
  z-index: 4;
  top: 80px;
}

.table-container {
  width: 100%;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table-container td {
  padding: 10px;
  text-align: center;
}

.table-container .icon {
  font-size: 120%;
  margin-left: 40px;
}

.table-container .text {
  font-family: 'Inter', sans-serif;
  text-align: left;
  font-size: 120%;
}
.table-container .text a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}

.navbar {
  z-index: 1;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #303404;
  height: 80px;
}

.navbar-l {
  list-style: none;
}

.navbar-i {
  margin: 10px;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
}

header {
  position: relative;
  display: flex;
  height: 100%;
}

#but {
  float: right;
  height: 30.4px;
  width: 30.4px;
  justify-content: center;
}

#but button{
  height: 30.4px; 
  width: 30.4px; 
  border: solid white; 
  border-radius: 5px; 
  background-color: #303404;
}

.navbar-i a{
  text-decoration: none;
  color: white;
}

#sidebar .table-container table tr{
  transition: 1s;
  border-radius: 30px;
}

#sidebar .table-container table tr:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.titlevid{
  margin-top: 50px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.prev{
  margin-left: 6%;
  height: 400px;
  width: 25%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
  float: left;
  margin-bottom: 60px;
  transition: .4s;
}

img{
  margin: 10px;
  border-radius: 20px;
}

.vid-des{
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
}

.vid-des h1{
  margin-top: 0;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0;
}

.vid-des p{
  margin-top: 0;
  margin-bottom: 0;
  
}

.vid-des button{
  position: absolute;
  bottom: 10px;
  width: 93%;
  text-align: left;
  height: 10%;
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  background-color: #FED65C;
  font-size: 15px;
  transition: .5s;
}

.vid-des button p{
  margin-left: 10px;
}

.vid-des button:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#main{
  margin-top: 100px;
  transition: .4s;
}

#main.active{
  margin-right: 300px;
}

#main.active > .prev{
  height: 300px;
}